$orange: #ec644b;
$white: #ffffff;
$grey: #f3f3f3;
$header: #2e2e2e;
$text: #3a3a3a;

body{
    font-family: 'Roboto', sans-serif;
    color: $white;
}
.button{
    width: 160px;
    height: 45px;
    color: $white;
    background-color: $orange;
    border: none;
    border-radius: 22.5px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    &__calc{
        width: 230px;
        height: 57px;
        border-radius: 28.5px;
        margin: 0 auto;
        margin-bottom: 82px;
    }
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.main{
    /* font-family: 'Roboto Condensed', sans-serif; */
    background-image: url(../img/bg.jpg);
    display: flex;
    flex-direction: column;
    height: 680px;
    justify-content: space-between;
    &__subtitle{
        font-size: 24px;
        font-weight: 300;
    }
    &__title{        
        color: $orange;
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subheader{
        font-size: 42px;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__line{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-first{
            width: 390px;
            border: 1px solid $white;
        }
        &-dot{
            width: 10px;
            height: 10px;
            margin-right: 12px;
            margin-left: 12px;
            background-color: $white;
            border-radius: 100%;
        }
        &-second{
            width: 390px;
            border: 1px solid $white;
        }
    }
    &__carts{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        &-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1 1 calc((100% / 4) - 2rem);
            img{
                color: $white;
                margin: 0 auto;
            }
            &-text{
                margin: 0 auto;
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
            }
        }
    }
}
.header{    
    padding-top: 23px;
    padding-left: 15px;
    padding-right: 15px;    
    display: flex;
    justify-content: space-between;
    align-items: center;    
    &__phone{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        font-weight: 300;
        span{
            font-size: 19px;
            font-weight: 700;
            line-height: 24px;
        }
    }
}
.nav{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    &-item{
        margin-left: 15px;
        border-right: 2px dotted $white;
		padding-right: 18px;
		&:last-child{
			border-right: none;
        }
    }
    &-link{
        color: $white;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: 0.3s;
        font-weight: 400;
        &:hover{
            color: $orange;
            border-bottom: 1px solid $orange;
        }
    }
}
.advantages{
    background-color: $grey;
    height: 590px;
    padding: 50px 0;
    &__header{
        text-align: center;
        color: $header;
        font-size: 26px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__items{
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr /1fr 1fr;
        grid-gap: 30px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        &-logo{
            color: $text;
        }
        &-title{
            color: $text;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
        }
        span{
            color: $orange;
            font-size: 16px;
            font-weight: 700;
        }
    }
}
.aboutwork{
    background-color: $white;
    height: 620px;
    &__header{
        text-align: center;
        color: $header;
        font-size: 26px;
        font-weight: 700;
        line-height: 23px;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    &__line{
        margin: 0 auto;
        border: 1px solid $orange;
        width: 150px;
    }
    &__subheader{
        font-size: 21px;
        font-weight: 300;
        color: $header;
        margin-top: 20px;
        text-align: center;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    &-item{
        max-width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        &__header{
            font-size: 16px;
            font-weight: 400;
            color: $orange;
            margin-top: 30px;
        }
        &__title{
            font-size: 14px;
            font-weight: 300;
            color: $text;
            line-height: 21px;
            margin-top: 17px;
            text-align: center;
        }
    }
}
.agent{
    background-image: url(../img/agent/agent_bg_image.jpg);
    min-height: 338px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 102px;
        margin: 0 auto;
        border: 1px solid $white;
        border-radius: 102px;
        img{        
            display: block;    
            color: $white;
            margin-bottom: 10px;
        }
    }
    &__header{
        font-size: 26px;
        font-weight: 700;
        color: $white;
        line-height: 21px;
        margin-top: 24px;
        text-align: center;
    }
    &__title{
        font-size: 19px;
        font-weight: 300;
        color: $white;
        line-height: 27px;
        margin-top: 17px;
        text-align: center;
    }
}